<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">group</i>
            </div>
            <p class="card-category">Total Employees</p>
            <h3 class="card-title">400</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons text-danger">warning</i>
              <a href="#pablo">Get More Space...</a> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon"><i class="material-icons">person</i></div>
            <p class="card-category">Male Employees</p>
            <h3 class="card-title">300</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">person</i>
            </div>
            <p class="card-category">Female Employees</p>
            <h3 class="card-title">100</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <!-- <i class="fa fa-twitter"></i> -->
              <i class="material-icons">work</i>
            </div>
            <p class="card-category">Immigration</p>
            <h3 class="card-title">350</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <!-- <i class="material-icons">update</i> Just Updated -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
